* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1d1d20;
  font-family: "Saira Condensed", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  text-decoration: none;
}

/*=============== CARD ===============*/

.header {
  margin-block: 30px;
  max-width: 1400px;
  margin-inline: auto;
  height: 5vh;
}

.loader {
  border-radius: 15px;
  margin-top: 25px;
  position: relative;
  width: 100%;
  height: 7px;
  background: #fff;
  margin-inline: auto;
  box-shadow: 0 0 2.5px #08ff8c, 0 0 5px #08ff8c, 0 0 10px #08ff8c,
    0 0 20px #08ff8c, 0 0 40px #08ff8c;
  transition: 0.4s;
  animation: flicker 2.5s linear forwards;
  animation-delay: 1s;
}

svg {
  width: 48px;
  transition: 0.5s;
  fill: #fff;
}
svg:hover {
  fill: #08ff8c;
}

.logo {
  width: 42px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.gmail-mail {
  color: #fff;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: #08ff8c;
  transition: 0.25s;
}

.gmail-mail:hover {
  background-color: #08ff8c;
}

.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.nav-ul li a {
  display: block;
  text-decoration: none;
  color: white;
  position: relative;
  padding: 5px 25px;
  font-size: 20px;
  letter-spacing: 2px;
}

.card__button {
  position: relative;
  background: white;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 5px 10px;
  letter-spacing: 2px;
  transition: 0.5s;
}

.card__button:hover {
  background: #08ff8c;
  color: #08ff8c;
  letter-spacing: 3px;
  box-shadow: 0 0 35px #08ff8c;
}

.card__button:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: rgb(22, 22, 22);
}

.card__button span {
  position: relative;
  z-index: 1;
}

.card__button i {
  position: absolute;
  inset: 0;
  display: block;
}

.card__button i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  height: 4px;
  width: 10px;
  background: rgb(22, 22, 22);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.card__button:hover i::before {
  width: 20px;
  left: 20%;
}

.card__button i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  height: 4px;
  width: 10px;
  background: rgb(22, 22, 22);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.card__button:hover i::after {
  width: 20px;
  left: 80%;
}

.nav-ul a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #08ff8c;
  z-index: -1;
  box-shadow: 0 0 10px #08ff8c, 0 0 20px #08ff8c, 0 0 40px #08ff8c,
    0 0 80px #08ff8c, 0 0 100px #08ff8c;
  transition: 0.25s;
}

.nav-ul li a:hover::before {
  width: 100%;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-block: 100px;

  gap: 50px;
}

.card__img {
  width: 400px;
  height: 280px;
}

.card__article {
  width: 400px;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.card__article:hover {
  transform: scale(1.1);
}
.card__article {
  transition: transform 0.5s;
}

.card__title {
  letter-spacing: 2px;
  font-size: 25px;
}

.card__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(22, 22, 22);
  padding: 25px;
  color: white;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  position: relative;
  min-height: 80vh;
}

.occupation {
  font-size: 68px;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #08ff8c;
  transition: 0.5s;
}

.occupation:hover {
  background-color: #08ff8c;
}

.name-surname {
  font-size: 102px;
  letter-spacing: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-shadow: 0 0 1px #67ad8d, 0 0 2px #67ad8d, 0 0 4px #67ad8d,
    0 0 8px #67ad8d, 0 0 16px #67ad8d; */
}

.nav-btn-section {
  color: #fff;
  font-size: 68px;
  letter-spacing: 2px;
  margin-inline: auto;
  text-decoration: underline;
  text-decoration-color: #08ff8c;
}

.skills-section {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid #08ff8c;
  border-radius: 10px;
  margin-block: 75px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: #fff;
  font-size: 28px;
  list-style: none;
  text-decoration: underline;
  text-decoration-color: #08ff8c;
  padding-block: 40px;
  align-items: center;
  /* justify-content: center; */
}

.skills-list li {
  text-decoration: none;
}

.footer {
  max-width: 1400px;
  color: #08ff8c;
  display: flex;
  align-items: center;
  margin-inline: auto;
  justify-content: center;
  letter-spacing: 2.5px;
  margin-block: 25px;
}

@keyframes flicker {
  0% {
    filter: blur(2px) brightness(1);
  }
  3% {
    filter: blur(2px) brightness(0);
  }
  6% {
    filter: blur(2px) brightness(0);
  }
  7% {
    filter: blur(2px) brightness(1);
  }
  8% {
    filter: blur(2px) brightness(0);
  }
  9% {
    filter: blur(2px) brightness(1);
  }
  10% {
    filter: blur(2px) brightness(0);
  }
  20% {
    filter: blur(2px) brightness(1);
  }
  50% {
    filter: blur(2px) brightness(1);
  }
  99% {
    filter: blur(2px) brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

@media only screen and (max-width: 1440px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 45px;
    margin-block: 100px;
  }

  .navigation {
    margin-inline: auto;
  }

  .header {
    max-width: 85%;
  }

  .name-surname {
    font-size: 70px;
  }

  .occupation {
    font-size: 42px;
  }

  .skills-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-inline: auto;
  }
  .skills-list {
    width: 95%;
    color: #fff;
    font-size: 28px;
    list-style: none;
    text-decoration: underline;
    text-decoration-color: #08ff8c;
    padding-block: 20px;
    align-items: center;
    /* justify-content: center; */
  }
}

@media only screen and (min-width: 600.01px) and (max-width: 1000px) {
  .card__container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 50px;
    margin-block: 100px;
  }

  .skills-list li {
    font-size: 24px;
  }

  .card__article {
    width: 400px;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .card__container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 50px;
    margin-block: 75px;
  }

  .navigation {
    display: flex;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header {
    max-width: 100%;
  }

  .name-surname {
    font-size: 52px;
    align-items: center;
  }

  .card__article {
    width: 370px;
    height: auto;
  }

  .occupation {
    font-size: 35px;
  }

  .logo {
    min-width: 35px;
  }

  .skills-list {
    display: flex;
    flex-direction: column;
    /* padding-block: 10px; */
    align-items: center;
    justify-content: center;
  }

  .skills-list li {
    color: #fff;
    font-size: 18px;
    list-style: none;
    text-decoration: underline;
    text-decoration-color: #08ff8c;
  }

  .nav-ul {
    gap: 7px;
    display: flex;
    gap: 20px;
  }

  .nav-ul li a {
    font-size: 15px;
    padding-block: 5px;
    padding-inline: 7px;
    display: flex;
  }
}
